../../.bash_history
../../.f4cd2c2b/
../../.gitconfig
../../.lesshst
../../.node_repl_history
../../.ssh/
../../.vscode/
../../3D Objects/
../../AppData/
../../Contacts/
../../Desktop/
../
../../Downloads/
../../Favorites/
../../Links/
../../Music/
../../NTUSER.DAT
../../NTUSER.DAT{3b1cd07c-8064-11ed-a1ff-a3749483b579}.TM.blf
../../NTUSER.DAT{3b1cd07c-8064-11ed-a1ff-a3749483b579}.TMContainer000000
../../NTUSER.DAT{3b1cd07c-8064-11ed-a1ff-a3749483b579}.TMContainer000000
../../OneDrive/
../../Pictures/
../../Saved Games/
../../Searches/
../../Videos/
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.ini
