.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.card-largura {
    max-width: 18rem;
}

.imagem-carrossel-um{
    object-fit: cover;  /* preserva a proporção*/
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois{
    object-fit: cover;  /* preserva a proporção*/
    height: 400px;
}

.cor-especial{
    color: darkred!important;
}

/* Card */

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem{
    object-fit: cover;  /* preserva a proporção*/
    height: 200px;
}
