.fonte-titulo{
    font-family: 'Pacifico', cursive;
}
.imagem-carrossel-um{
    object-fit: cover;  /* preserva a proporção*/
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois{
    object-fit: cover;  /* preserva a proporção*/
    height: 400px;
}

.cor-especial{
    color: darkred;
}